<!-- feed with filter-->
<div class="related-wrapper">
{% assign post_items = site.posts | sort: "date" | reverse %}
{% for post_items in post_items %}
    {%- if post_items.feed == "show" -%}
            <div class="notelist-feed">
                <a href="{{ site.baseurl }}{{post_items.url}}">
                    <p>{{ post_items.title }}</p>
                    {%- if post_items.date -%}
                    <span class="note-date">{{ post_items.date | date: "%b %d" }}</span>
                    {%- endif -%}
                </a>
            </div>
    {%- endif -%}
{%- endfor -%}
</div>
